
  @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
font-family: 'Nunito Sans', sans-serif;

}
.image figure{
   width: 164px;
   height: 40px;
  /* border: 1px solid red; */
   
    
}
.card figure{
    width: 106px;
    height: 94px;
  
    
}
img{
    width: 100%;
}
h1{
    font-size:2rem !important;
    color:black; 
     font-family: 'Merienda', cursive;
     text-transform: capitalize;
}

p{
    font-size:.95rem ;
    font-family: 'Nunito Sans', sans-serif;
    color: #444444 !important;

   
}
.card{
    border: none !important;
}